<!DOCTYPE html>
<html>
  <head>
    <title>Mocha</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mocha.css"/>
    <script type="text/javascript" src="../js/underscore.js"></script>
    <script type="text/javascript" src="../js/jQuery.min.js"></script>
	<script type="text/html" id="elementTemplate">
	  <li> <span class = "<%= t.type %>"> <%= s %> </span>
	</script>
  </head>
  <body>
    <div id="mocha"></div>
    <input type="file" id="fileinput"/>
    <div id="out" class="hidden">
	<table>
      <tr>
        <td>
          <pre class="input" id="initialinput"></pre>
        </td>
        <td>
          <pre class="output" id="finaloutput"></pre>
        </td>
      </tr>
    </table>

    <script src="chai.js"></script>
    <script src="mocha.js"></script>
    <script src="../js/ini.js"></script>
    <script>mocha.setup('tdd')</script>
    <script src="tests.js"></script>
    <script>
      mocha.run();
    </script>
  </body>
</html>
