<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>INI files</title>
    <link href="global.css" rel="stylesheet" type="text/css">
    <link href="metro-bootstrap.css" rel="stylesheet" type="text/css">
    <link href="font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="./underscore.js"></script>
    <script type="text/javascript" src="./jQuery.min.js"></script>
    <script type="text/javascript" src="./ini.js"></script>
	<script type="text/html" id="elementTemplate">
	  <li> <span class = "<%= t.type %>"> <%= s %> </span>
	</script>
  </head>
  <body>
    
    <div id="header" class="box">
	  <a type="button"  target="_blank" class="btn btn-primary" href="https://github.com/PLGRUPO/Ficheros-INI"><i class="fa fa-github-alt"></i>  Github</a>
	  <a type="button" class="btn btn-success" href=""><i class="fa fa-check-square-o"></i>  Test</a>
    </div>

    <h1>INI files</h1>

    <input type="file" class="btn btn-default" id="fileinput" />
    <div id="out" class="hidden">
      <table>
        <tr><th>Original</th><th>Tokens</th></tr>
        <tr>
          <td>
            <pre class="input" id="initialinput"></pre>
          </td>
          <td>
            <pre class="output" id="finaloutput"></pre>
          </td>
        </tr>
      </table>
    </div>

  </body>
</html>
